*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
        "header head"
        "header main"
    ;
}
header{
    background-color: rgb(0, 0, 0);
    grid-area: header;
}
nav{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -5%;
}
nav > a{
    font-size: 17px;
    margin-bottom: 20px;
    margin-left: 75px;
}
a{
    color: rgb(179, 179, 179);
    text-decoration: none;
}
a:hover{
    color: white;
}
div.inscrever{
    background-color: rgb(16, 16, 16);
    grid-area: head;
    padding: 25px;
}
div.centro{
    background-image: linear-gradient(to bottom, rgb(30, 30, 30), rgb(18, 18, 18));
    grid-area: main;
    height: 100vh;
}
div.centro > a{
    color: white;
    font-size: 25px;
    margin: 20px;
}
div.spotify-play{
    display: flex;
    justify-content: space-between;
}
div.spotify-destaque > img{
    height: 170px;
    margin: 20px;
}

