*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
        "header head"
        "header main"
        "footer footer"
    ;
}
header{
    background-color: rgb(0, 0, 0);
    grid-area: header;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
nav{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -5%;
}
nav > a{
    font-size: 17px;
    margin-bottom: 20px;
    margin-left: 60px;
}
a{
    color: rgb(179, 179, 179);
    text-decoration: none;
    font-weight: 600;
}
a:hover{
    color: white;
}
div.inscrever{
    background-color: rgb(16, 16, 16);
    grid-area: head;
    padding: 25px;
    text-align: right;
}
div.inscrever > a {
    margin-right: 10px;
}
div.inscrever > a:hover{
    transform: translate(-10px, -10px);
}
a#entrar{
    color: black;
    background-color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    font-weight: 600;
    display: inline-block;
    width: 4%;
}
a#entrar:hover{
    transform: translate(-2%, -2%);
    transition-duration: 0.1s;
   
}
div.centro{
    background-image: linear-gradient(to bottom, rgb(30, 30, 30), rgb(18, 18, 18));
    grid-area: main;
    height: 100vh;
}
div.centro > a{
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-left: 30px;
    margin-top: 20px;
}
div.spotify-play{
    display: flex;
    justify-content: space-around;
}
div.spotify-destaque{
    background-color: rgb(30, 30, 30);
    height: 300px;
    margin-top: 20px;
    margin-left: 10px;
    color: white;
}
div.spotify-destaque > p.titulo_img{
    text-align: center;
    font-weight: 600;
}
div.spotify-destaque > p{
    text-align: center;
    margin-top: 6px;
    font-weight: lighter;
}
div.spotify-destaque > img{
    height: 170px;
    margin: 20px;
    border-radius: 10px;
}
div.spotify-destaque:hover{
    background-color: rgb(70, 70, 70);
    cursor: pointer;
    border-radius: 10px;
}
footer{
    background-image: linear-gradient(to right, #AD2B99, #519AF4);
    grid-area: footer;
}

